@charset "UTF-8";


@media screen and (max-width:1280px){
    #wrap {
        width: 1280px;
      }
    .inner{
        zoom: 90%;
    }
    .notice_rolling{
        zoom: 90%;
    }
    .notice_control .notice_control_btn {
        display: flex;
        
      }
    .notice_control .notice_control_btn li {
       
        opacity: 0.6;
        margin-left: 2px;
      }
      .section2_navi_btn .section2_navi_btn_box {
        width: 720px;
        height: 200px;
        display: flex;
        margin: 0 auto;
        text-align: center;
        position: relative;
        left: 70px;
        top: -20px;
      }
      .dep2_wrap .dep2_ulwrap ul:first-child {
        position: relative;
        left: 30px;
      }
      .dep2_wrap .dep2_ulwrap ul:last-child {
        position: relative;
        left: -30px;
      }
      .dep2_servicegnb_inner {
        width: 100%;
        
      }
      .dep2_servicegnb h4 {
        margin-left: 150px;
    }

}
@media screen and (max-width:1199px){
   
   .nav{
        display: none;
    }
    .mode_ch{
        display: block;
        top: 30px;
        left: 200px;
        
        
    }
    .header_topbox{
        display: none;
    }
    .header_bottombox .inner{
        justify-content: space-between;
    }
    .section2_imgbox{
        position: relative;
        margin: 0 auto;
        
        
    }
    .section2_imgbox img{
        width: 400px;
        height: auto;
        
    }
    .section2_imgboxbtn {
        position: relative;
        right: auto;
        bottom: auto;
        margin-top: 1.25rem;

       
    }
    .section2_imgboxbtn a{
        width: 90%;
    }
   
}
@media screen and (max-width:1160px){}
@media screen and (max-width:1100px){}
@media screen and (max-width:1080px){}
@media screen and (max-width:1023px){}